page-sign-in {
#div1{
    color: white;
background-color: black;
position: fixed;
top: 400px;
width: 90%;
height: 40px;
text-align: center;

}
#div2{
    color: white;
    background-color: black;
    position: fixed;
    top: 500px;
    width: 90%;
    height: 40px;
    text-align: center;
}
#div3{
    color: white;
    background-color: black;
    position: fixed;
    top: 600px;
    width: 90%;
    height: 40px;
    text-align: center;
}
#pic{
    position: fixed;
    top: 100px;
    right: 0px;
}


}
